@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Ubuntu:wght@300&display=swap');
body {
    width: 60%;
    margin: auto;
    padding: 0;
    background-color: #0F4C75;
    font-family: 'Montserrat', sans-serif;
}

.body-container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.navContainer {
    margin-bottom: 20px;
    background-color: aliceblue;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.navBrand {
    color: #3282B8;
    font-size: 1.5rem;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
.navBrand:hover {
    color: #3282B8;
    text-decoration: none;
}

.user-icon {
    width: 30px;
    height: 30px;
    margin-left: 0;
}

.info {
    min-height: 100px;
    background-color: aliceblue;
    border-radius: 0.5rem;
    padding: 10%;
    display: flex;
}
.buttons {
    margin-top: 20px;
}

.profile-button {
    border-radius: 1rem;
    padding: 5px 20px;
    border: none;
    position: relative;
    left: 60%;
    background-color: #3282B8;
    color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.image {
    border-radius: 5rem;
    height: 150px;
    width: 150px;
}
input[type="file"] { display: none; }

.button-choose-file {
    color: #C85C5C;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin-left: 15px;
    font-size: 1.5rem;
}

.inputs-form {
    margin-top: 20px;
    width: 60%;
    position: relative;
    left: 100px;
}


.labels {
    border-radius: 1.5rem;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-weight: bold;
}

.inputs {
    border-radius: 1.5rem;
    border: none;
}
.inputs:focus {
    border: 2px solid #0F4C75;
    outline: #0F4C75;
}

.input-div {
    margin-bottom: 20px;
}
.search {
    background-color: #fff;
    margin-left: 300px;
    border-radius: 1rem;
    padding: 5px 10px;

}

.search-bar {
    border: none;
    background-color: #fff;
    
}
.search-bar:focus {
    border: none;
    outline: none;
}
.search-button {
    background-color: #fff;
    border: none;
}

.follow {
    font-weight: bold;
    margin-left: 20px;
}

.icon {
    margin-left: 20px;
}