@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Ubuntu:wght@300&display=swap");
body {
  width: 60%;
  margin: auto;
  padding: 0;
  background-color: #0f4c75;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.navContainer {
  margin-bottom: 20px;
  background-color: aliceblue;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navBrand {
  color: #3282b8;
  font-size: 1.5rem;
  padding: 5px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
.navBrand:hover {
  color: #3282b8;
  text-decoration: none;
}

.user-icon {
  width: 30px;
  height: 30px;
  margin-left: 0;
}

.search {
  background-color: #fff;
  margin-left: 300px;
  border-radius: 1rem;
  padding: 5px 10px;
}

.search-bar {
  border: none;
  background-color: #fff;
}
.search-bar:focus {
  border: none;
  outline: none;
}
.search-button {
  background-color: #fff;
  border: none;
}

#users-container {
  min-height: 100px;
  background-color: aliceblue;
  border-radius: 0.5rem;
  padding: 20px 100px;
}

.user-div {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: #fff;
  margin: 10px;
  min-height: 100px;
  align-items: center;
  box-shadow: 1px 1px 1px 1px #888888;
}

.user-info-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin: 15px;
}

.user-info {
  margin: 0px;
  font-size: 13px;
  font-weight: 300;
}

.user-info-bold {
  margin: 5px 0px 2px 0px;
  font-size: 15px;
  font-weight: 800;
}

#btn-follow {
  margin: 15px;
  font-size: 40px;
  color: rgb(50, 50, 50);
}

#btn-follow:hover {
  cursor: pointer;
}
